.header {
    text-align: center;
    color: #dadadb;
    font-family: open-sans,Helvetica,sans-serif;
    /* font-weight: 300; */
}

body {
    background-color: #21212b;
}

.allLollies {
    display: flex;
    justify-content: center;
}

.lollipop {
    height: 300px;
}

.button-div {
    margin-top: 20px;
    height: 45px;
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 5px;
    background-color: #21212b;
    border-color: #fa73d9;
    color: #fa73d9;
    font-size: 17px;
}

.createMain {
    display: flex;
    justify-content: center;
    
}
